{% include 'dhead.html' %}
<div class="card w-40 ml-400 mt-100 p-20">
    <div>

    <form action="change_password_action" method="post">
        <div class="old_password mt-10">
                <div  class="label-1">Old Password</div>
                <input type="password" name="old_password" class="form-input p-5px" placeholder="Enter Old Password" required >
         </div>
        <div class="new_password mt-10">
                <div  class="label-1">New Password</div>
                <input type="password" name="new_password" class="form-input p-5px" placeholder="Enter New Password" required>
        </div>
        <div class="confirm_password mt-10">
                <div  class="label-1">Confirm Password</div>
                <input type="password" name="confirm_password" class="form-input p-5px" placeholder="Enter Confirm Password" required>
        </div>
        <div><input type="submit" class="btn  h6" value="Save" required></div>
    </form>
            </div>

</div>