{% include 'links.html' %}
<div class="row">
    <div class="nav-left text-center">
            <img class="h-30 w-50" src="../static/doctor/img.png" alt="">
    </div>
    <div class="nav-right  space-around h4">
        <div class="middle ml-400"><a class="under-line" href="/hospital_home">Hospital Home</a></div>
         <div class="middle"><a class="under-line" href="/view_verify_doctors">Doctors</a></div>
        <div class="middle"><a class="under-line" href="/view_bookings">Bookings</a></div>
        <div class="middle"><a class="under-line" href="/logout">Logout</a></div>
    </div>
</div>
