{% include 'links.html' %}
<div class="row">
    <div class="nav-left text-center">
            <img class="h-30 w-50" src="../static/doctor/img.png" alt="">
    </div>
    <div class="nav-right  space-around h4">
        <div class="middle ml-400"><a class="under-line" href="/">Home</a></div>
         <div class="middle"><a class="under-line" href="/admin_login">Admin</a></div>
         <div class="middle"><a class="under-line" href="/hospital_login">Hospital</a></div>
         <div class="middle"><a class="under-line" href="/doctor_login">Doctor</a></div>
        <div class="middle"><a class="under-line" href="/patient_login">Patient</a></div>
    </div>
</div>