{% include 'head.html' %}
<div class="pr">
    <img src="https://t3.ftcdn.net/jpg/02/98/00/12/240_F_298001238_dIwzmWmeR4nQ8HxkZvunXvqJnHgjAwVe.jpg" class="login-bg-img" alt="" >
    <div class="login-bg-color">
        <div class="ml-100 mt-200">
            <div class="admin-login-container">
                <h2 class="admin-login-title">Hospital Login</h2>
                <form action="hospital_login_action" method="post">
                    <div class="admin-form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="admin-form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>