{% include 'phead.html' %}
{% if patient['insurance']=='yes'%}
<div class="card w-30 mt-100 p-20 ml-500">
        <div class="text-center"><h2>Payment page</h2></div>
        <div class="title">Amount : ${{doctor['consultant_fee']}} </div>
            <div class="">
                <form action="payment_action2" method="post">
                    <input type="hidden" name="amount" value="{{doctor['consultant_fee']}}">
                    <input type="hidden" name="appointment_id" value="{{appointment_id}}">
                    <input type="hidden" name="appointment_date" value="{{appointment_date}}">
                    <input type="hidden" name="slot_id" value="{{slot_id}}">
                    <input type="hidden" name="description" value="{{description}}">
                    <input type="hidden" name="doctor_id" value="{{doctor_id}}">

                    <div class="">
                        <div class="">
                            <div for="insurance_number" class="">Insurance Number</div>
                        </div>
                        <input type="number" id="insurance_number"  name="insurance_number" class="form-input" placeholder="Enter Insurance" required>
                    </div>
                     <div class="">
                        <div class="">
                            <div for="insurance_type" class="">Insurance Type</div>
                        </div>
                        <input type="text" id="insurance_type"  name="insurance_type" class="form-input" placeholder="Enter Insurance Type" required>
                     </div>
                     <div class="">
                        <div class="">
                            <div for="insurance_company_name" class="">Insurance Company Name</div>
                        </div>
                        <input type="text" id="insurance_company_name"  name="insurance_company_name" class="form-input" placeholder="Enter Company Name" required>
                     </div>
            </div>
                    <div><input type="submit" class="btn" value="Book" required></div>
                </form>
            </div>
        </div>
    </div>
{% else%}
<div class="card w-30 mt-100 p-20 ml-500">
        <div class="text-center"><h2>Payment page</h2></div>
        <div class="title">Pay: ${{doctor['consultant_fee']}} </div>
            <div class="">
                <form action="payment_action" method="post">
                    <input type="hidden" name="amount" value="{{doctor['consultant_fee']}}">
                    <input type="hidden" name="appointment_id" value="{{appointment_id}}">
                    <input type="hidden" name="appointment_date" value="{{appointment_date}}">
                    <input type="hidden" name="slot_id" value="{{slot_id}}">
                    <input type="hidden" name="description" value="{{description}}">
                    <input type="hidden" name="doctor_id" value="{{doctor_id}}">
                    <div class="">
                        <div for="card_type" class="">Card Type</div>
                        <select id="card_type" name="card_type" class="form-input" required>
                            <option value="Debit Card">Debit Card</option>
                            <option value="Credit Card">Credit Card</option>
                        </select>
                    </div>
                    <div class="">
                        <div class="">
                            <div for="card_number" class="">Card Number</div>
                        </div>
                        <input type="number" id="card_number"  name="card_number" class="form-input" placeholder="Enter Card Number" required>
                    </div>
                     <div class="">
                        <div class="">
                            <div for="name_on_card" class="">Name On Card</div>
                        </div>
                        <input type="text" id="name_on_card"  name="name_on_card" class="form-input" placeholder="Enter Name On Card" required>
                     </div>
                     <div class="">
                        <div class="">
                            <div for="cvv" class="">CVV</div>
                        </div>
                        <input type="number" id="cvv"  name="cvv" class="form-input" placeholder="Enter CVV Number" required>
                     </div>
                    <div class="">
                        <div class="">
                            <div for="expiry_date" class="">Expiry Date</div>
                        </div>
                        <input type="text" id="expiry_date"  name="expiry_date" class="form-input" placeholder=" MM/YY" required>
                    </div>
                    <div><input type="submit" class="btn" value="PAY NOW" required></div>
                </form>
            </div>
        </div>
    </div>
{% endif%}