{% if session['role']== "patient" %}
    {% include 'phead.html' %}
{% endif %}
{% if session['role']== "doctor" %}
    {% include 'dhead.html' %}
{% endif %}
{% if session['role']== "admin" %}
    {% include 'ahead.html' %}
{% endif %}
<div class="text-center"><h1>View Doctor's Prescription</h1></div>
<div class="row">
    {% for prescription in prescriptions %}
        <div class="card  w-30 mt-50 ml-50 p-20">
            <div>Prescribed Date :- {{prescription['prescribed_date'].strftime("%d-%m-%Y")}}</div>
            <div class="row">Doctor's Prescription :- <h4>{{prescription['prescription']}}</h4></div>
        </div>
    {% endfor %}
</div>
